<html layout:decorator="layout">
<head>
    <title>Product Lists</title>
</head>
<div layout:fragment="content">
        <a class="btn btn-primary" href="/products/new">Add new Product</a>

        <table class="table table-striped" id="posts_list">
            <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Price</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="product : ${list}">
                <td class="message" data-th-text="${product.id}"></td>
                <td class="message" data-th-text="${product.name}"></td>
                <td class="message" data-th-text="${product.description}"></td>
                <td class="message" data-th-text="${product.price}"></td>

                <td>
                    <a th:href="@{'/products/{id}/delete'(id=${product.id})}" class="delete" th:attr="name=${product.id}">
                            <span class="fa-stack">
                                <i class="glyphicon glyphicon-trash"></i>
                            </span>
                    </a>
                </td>

                <td>
                    <a th:href="@{'/products/{id}/edit'(id=${product.id})}" class="edit" th:attr="name=${product.id}">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>

                    </a>
                </td>
            </tr>
            </tbody>
        </table>
</div>
</html>
